{{!-- {{
alertClass
alertIcon
alertType
alertDismissible
toastText
toastAction
toastLinkText
}} --}}

<div class="pf-toast alert {{ alertClass }}{{#if alertDismissible}} alert-dismissible{{/if}}" role="alert">
{{#if alertDismissible}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="pficon-close" aria-hidden="true"></span>
  </button>
{{/if}}
  <span class="pf-toast__icon {{ alertIcon }}" aria-label="{{ alertType }}"></span>
  <div class="pf-alert__text">
    {{{ toastText }}}
  </div>
{{#if toastAction}}
  <a href="#" class="pf-toast__action">{{ toastLinkText }}</a>
{{/if}}
</div>
